<section class="row">
  <div class = "column">
    <h2>Create New Post</h2>

    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input autocomplete="off" type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-text">Text</label>
        <textarea autocomplete="off" id="post-text" name="post-text"></textarea>
      </div>
      <div>
        <label for="post-tags">Tags</label>
        <input autocomplete="off" id="post-tags" name="post-tags"></input>
        <i style="font-size: smaller; opacity: 20%"></br>Comma-seperated list</i>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>
  <div class = "column">
    <h2>About Me</h2>
    {{> user-info}}
  </div>

</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <div class="edit-btn">
        <i class="fas fa-edit"></i>
        <a href="/dashboard/edit/{{post.id}}">Edit Post</a>
      </div>
    </li>
    {{/each}}
  </ol>
  {{else}}
      <h3 style="text-align: center" class="empty">-- No Posts --</h3>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>