<form class="login-form">
  <div>
    <label for="email-login">E-mail:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">Password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button class="login-btn" type="submit">Login</button>
  </div>
</form>
<div>
  <b class="signup">Don't have an account?</b>
  <a class="btn1" href="/signup">Sign Up</a>
</div>

<script src="/javascript/login.js"></script>