<form class="signup-form">
  <div>
    <label for="username-signup">Username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">E-mail:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">Password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button class="btn1" type="submit">Sign up</button>
  </div>
</form>

<a class="btn2" href="/login">Log-in to an existing account</a>

<script src="/javascript/signup.js"></script>