{{> post-info post}}
{{#if post.tags.length}}
<i style="font-size:small;">Tags: {{post.tags}}</i>
{{/if}}

{{#if loggedIn}}
<form class="comment-form">
    <h2>Comment:</h2>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{> comments post.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}