{{> post-info post}}
{{#if post.tags.length}}
<i style="font-size:small;">Tags: {{post.tags}}</i>
{{/if}}

<p></p>

{{#if loggedIn}}
<form class="comment-form">
    <h2>Comment:</h2>
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>
{{/if}}

{{#if post.comments.length}}
<div class="comment-header">
  <b style="font-size: 1em; text-align:left;">Comments:</b>
  <i style="opacity: 40%">{{post.comments.length}}</i>
</div>
{{> comments post.comments}}
{{else}}
      <h3 style="text-align: center" class="empty">-- No Comments --</h3>
{{/if}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}